/*
font-family: 'Orbitron', sans-serif;*/

body{
    background: #000;
}

.timer{
    font-family: 'Londrina Outline', cursive;
    text-align: center;
    font-size: 3em;
    color: #fff;
    letter-spacing: 0,15em;
}

.fecha{
    font-family: 'Orbitron', sans-serif;
    text-align: center;
    font-size: 2em;
    color: #fff;
    letter-spacing: 0,1em;
    text-transform: uppercase;
}

.pink {
    text-shadow: 
        0 0 5px #FF7BAC,
        0 0 10px #FF7BAC,
        0 0 20px #FF7BAC,
        0 0 40px #FF7BAC,
        0 0 80px #FF7BAC,
        0 0 90px #FF7BAC,
        0 0 100px #FF7BAC,
        0 0 150px #FF7BAC;
}
.blue {
    text-shadow: 
        0 0 5px #7BACFF,
        0 0 10px #7BACFF,
        0 0 20px #7BACFF,
        0 0 40px #7BACFF,
        0 0 80px #7BACFF,
        0 0 90px #7BACFF,
        0 0 100px #7BACFF,
        0 0 150px #7BACFF;
}
.green {
    text-shadow: 
        0 0 5px #7BFFCE,
        0 0 10px #7BFFCE,
        0 0 20px #7BFFCE,
        0 0 40px #7BFFCE,
        0 0 80px #7BFFCE,
        0 0 90px #7BFFCE,
        0 0 100px #7BFFCE,
        0 0 150px #7BFFCE;
}

@media all and (max-width:600px){
    .fecha{
        font-size: 20px;
        flex-wrap: wrap;
        color: #fff;
        letter-spacing: 1px;
        margin: auto;
        padding-top: 90px;
    }
    .fecha p{
        padding: 2px;
    }
    .timer{
        margin-top: 100px;
    }
}
@media all and (min-width: 601px) and (max-width: 767px){
    
    .fecha{
        font-size: 50px;
        letter-spacing: 4px;
        flex-wrap: wrap;
        padding-top: 200px;
    }
    .timer{
        font-size: 80px;
        letter-spacing: 2px;
        padding-top: 100px;
    }
}
@media all and (min-width: 768px) and (max-width:991px){
    .fecha{
        font-size: 70px;
        letter-spacing: 4px;
        flex-wrap: wrap;
        padding-top: 200px;
    }
    .fecha p{
        padding-right: 4px;
    }
    .timer{
        font-size: 95px;
        letter-spacing: 2px;
        padding-top: 100px;
    }
}

